# Module 3: Churn Prediction Project

In [2]:
# imports
import pandas as pd
import numpy as np

import matplotlib.pyplot as plt 
import seaborn as sns
from pypalettes import load_cmap

%matplotlib inline
cmap = load_cmap("X84")
palette = cmap.colors

## 3.2 Data Preparation

In this section we will prepare the data before we make any test train splits. This involves updating any formatting and making adjustments to data types of columns.

In [3]:
data_path = "./data/Customer-Churn-Dataset.csv"

In [4]:
df = pd.read_csv(data_path)

In [5]:
df

      customerID  gender  SeniorCitizen  ... MonthlyCharges TotalCharges  Churn
0     7590-VHVEG  Female              0  ...          29.85        29.85     No
1     5575-GNVDE    Male              0  ...          56.95       1889.5     No
2     3668-QPYBK    Male              0  ...          53.85       108.15    Yes
3     7795-CFOCW    Male              0  ...          42.30      1840.75     No
4     9237-HQITU  Female              0  ...          70.70       151.65    Yes
...          ...     ...            ...  ...            ...          ...    ...
7038  6840-RESVB    Male              0  ...          84.80       1990.5     No
7039  2234-XADUH  Female              0  ...         103.20       7362.9     No
7040  4801-JZAZL  Female              0  ...          29.60       346.45     No
7041  8361-LTMKD    Male              1  ...          74.40        306.6    Yes
7042  3186-AJIEK    Male              0  ...         105.65       6844.5     No

[7043 rows x 21 columns]

In [6]:
df.head().T

                                 0  ...                 4
customerID              7590-VHVEG  ...        9237-HQITU
gender                      Female  ...            Female
SeniorCitizen                    0  ...                 0
Partner                        Yes  ...                No
Dependents                      No  ...                No
tenure                           1  ...                 2
PhoneService                    No  ...               Yes
MultipleLines     No phone service  ...                No
InternetService                DSL  ...       Fiber optic
OnlineSecurity                  No  ...                No
OnlineBackup                   Yes  ...                No
DeviceProtection                No  ...                No
TechSupport                     No  ...                No
StreamingTV                     No  ...                No
StreamingMovies                 No  ...                No
Contract            Month-to-month  ...    Month-to-month
PaperlessBilling               Yes  ...               Yes
PaymentMethod     Electronic check  ...  Electronic check
MonthlyCharges               29.85  ...              70.7
TotalCharges                 29.85  ...            151.65
Churn                           No  ...               Yes

[21 rows x 5 columns]

We are going to do a similar transformation of the column names and categorical features so there is consistency in formatting.

In [7]:
df.columns = df.columns.str.lower().str.replace(' ', '_')

categorical_columns = list(df.dtypes[df.dtypes == 'object'].index)

for col in categorical_columns:
    df[col] = df[col].str.lower().str.replace(' ', '_')

In [8]:
df.head().T

                                 0  ...                 4
customerid              7590-vhveg  ...        9237-hqitu
gender                      female  ...            female
seniorcitizen                    0  ...                 0
partner                        yes  ...                no
dependents                      no  ...                no
tenure                           1  ...                 2
phoneservice                    no  ...               yes
multiplelines     no_phone_service  ...                no
internetservice                dsl  ...       fiber_optic
onlinesecurity                  no  ...                no
onlinebackup                   yes  ...                no
deviceprotection                no  ...                no
techsupport                     no  ...                no
streamingtv                     no  ...                no
streamingmovies                 no  ...                no
contract            month-to-month  ...    month-to-month
paperlessbilling               yes  ...               yes
paymentmethod     electronic_check  ...  electronic_check
monthlycharges               29.85  ...              70.7
totalcharges                 29.85  ...            151.65
churn                           no  ...               yes

[21 rows x 5 columns]

In [9]:
df.dtypes

customerid           object
gender               object
seniorcitizen         int64
partner              object
dependents           object
tenure                int64
phoneservice         object
multiplelines        object
internetservice      object
onlinesecurity       object
onlinebackup         object
deviceprotection     object
techsupport          object
streamingtv          object
streamingmovies      object
contract             object
paperlessbilling     object
paymentmethod        object
monthlycharges      float64
totalcharges         object
churn                object
dtype: object

We can identify that senior citizen is a categorical column even though it's a `int` data type.  We can also determine that `totalcharges` should be a float type but there is something that is stopping this.

They used spaces to replace null values and we replaced those with `_`.

In [10]:
df.totalcharges

0         29.85
1        1889.5
2        108.15
3       1840.75
4        151.65
         ...
7038     1990.5
7039     7362.9
7040     346.45
7041      306.6
7042     6844.5
Name: totalcharges, Length: 7043, dtype: object

In [11]:
pd.to_numeric(df.totalcharges)

ValueError: Unable to parse string "_" at position 488

In [12]:
pd.to_numeric(df.totalcharges, errors='coerce')

0         29.85
1       1889.50
2        108.15
3       1840.75
4        151.65
         ...
7038    1990.50
7039    7362.90
7040     346.45
7041     306.60
7042    6844.50
Name: totalcharges, Length: 7043, dtype: float64

In [13]:
tc = pd.to_numeric(df.totalcharges, errors='coerce')

In [14]:
df[tc.isnull()].T

                                       488   ...                       6754
customerid                       4472-lvygi  ...                 2775-sefee
gender                               female  ...                       male
seniorcitizen                             0  ...                          0
partner                                 yes  ...                         no
dependents                              yes  ...                        yes
tenure                                    0  ...                          0
phoneservice                             no  ...                        yes
multiplelines              no_phone_service  ...                        yes
internetservice                         dsl  ...                        dsl
onlinesecurity                          yes  ...                        yes
onlinebackup                             no  ...                        yes
deviceprotection                        yes  ...                         no
techsupport                             yes  ...                        yes
streamingtv                             yes  ...                         no
streamingmovies                          no  ...                         no
contract                           two_year  ...                   two_year
paperlessbilling                        yes  ...                        yes
paymentmethod     bank_transfer_(automatic)  ...  bank_transfer_(automatic)
monthlycharges                        52.55  ...                       61.9
totalcharges                              _  ...                          _
churn                                    no  ...                         no

[21 rows x 11 columns]

_Could we use the average term length of the data set and the monthly spend of those missing total spend to impute a total spend instead of just replacing with zero?_

In [15]:
df.totalcharges = pd.to_numeric(df.totalcharges, errors='coerce')

In [16]:
df.totalcharges = df.totalcharges.fillna(0)

### Target Variable Prep

We need to convert the churn column from object to 0 or 1 for binary classification.

We do this by creating a mask that provides true and false values for each element of the series which can then be converted to an int type.

In [17]:
df.churn

0        no
1        no
2       yes
3        no
4       yes
       ...
7038     no
7039     no
7040     no
7041    yes
7042     no
Name: churn, Length: 7043, dtype: object

In [18]:
df.churn == 'yes'

0       False
1       False
2        True
3       False
4        True
        ...
7038    False
7039    False
7040    False
7041     True
7042    False
Name: churn, Length: 7043, dtype: bool

In [19]:
df.churn = (df.churn == 'yes').astype(int)

## 3.3 Setting up the validation framework

In this section we will perform the train validation test split using the scikit learn method `train_test_split`.

In [20]:
from sklearn.model_selection import train_test_split

In [21]:
df_full_train, df_test = train_test_split(df, test_size=0.2, random_state=1)

In [23]:
len(df_full_train), len(df_test)

(5634, 1409)

In [24]:
df_train, df_val = train_test_split(df_full_train, test_size=0.25, random_state=1)

In [25]:
len(df_train), len(df_val), len(df_test)

(4225, 1409, 1409)

In [26]:
df_train

      customerid  gender  seniorcitizen  ... monthlycharges totalcharges  churn
3897  8015-ihcgw  female              0  ...         115.50      8425.15      0
1980  1960-uycnn    male              0  ...          95.25      1021.55      0
6302  9250-wypll  female              0  ...          75.55       413.65      1
727   6786-obwqr  female              0  ...          80.85       356.10      0
5104  1328-euzhc  female              0  ...          20.10       370.50      0
...          ...     ...            ...  ...            ...          ...    ...
3774  1309-xgfsn    male              1  ...          80.85      4079.55      0
6108  4819-hjpiw    male              0  ...          25.15       476.80      0
1530  3703-vavcl    male              0  ...          90.00       190.05      1
3701  3812-lrzir  female              0  ...          24.50       761.95      0
4368  1704-nrwye  female              1  ...          80.85       751.65      1

[4225 rows x 21 columns]

In [27]:
df_train = df_train.reset_index(drop=True)
df_val = df_val.reset_index(drop=True)
df_test = df_test.reset_index(drop=True)

In [28]:
df_train

      customerid  gender  seniorcitizen  ... monthlycharges totalcharges  churn
0     8015-ihcgw  female              0  ...         115.50      8425.15      0
1     1960-uycnn    male              0  ...          95.25      1021.55      0
2     9250-wypll  female              0  ...          75.55       413.65      1
3     6786-obwqr  female              0  ...          80.85       356.10      0
4     1328-euzhc  female              0  ...          20.10       370.50      0
...          ...     ...            ...  ...            ...          ...    ...
4220  1309-xgfsn    male              1  ...          80.85      4079.55      0
4221  4819-hjpiw    male              0  ...          25.15       476.80      0
4222  3703-vavcl    male              0  ...          90.00       190.05      1
4223  3812-lrzir  female              0  ...          24.50       761.95      0
4224  1704-nrwye  female              1  ...          80.85       751.65      1

[4225 rows x 21 columns]

In [29]:
y_train = df_train.churn.values
y_val = df_val.churn.values
y_test = df_test.churn.values

In [30]:
del df_train['churn']
del df_val['churn']
del df_test['churn']

## 3.4 EDA

In this section we will check missing values, explore the target variable, and explore the numerical and categorical features.

In [31]:
df_full_train = df_full_train.reset_index(drop=True)

In [32]:
df_full_train.head().T

                                    0  ...                 4
customerid                 5442-pptjy  ...        2364-ufrom
gender                           male  ...              male
seniorcitizen                       0  ...                 0
partner                           yes  ...                no
dependents                        yes  ...                no
tenure                             12  ...                30
phoneservice                      yes  ...               yes
multiplelines                      no  ...                no
internetservice                    no  ...               dsl
onlinesecurity    no_internet_service  ...               yes
onlinebackup      no_internet_service  ...               yes
deviceprotection  no_internet_service  ...                no
techsupport       no_internet_service  ...               yes
streamingtv       no_internet_service  ...               yes
streamingmovies   no_internet_service  ...                no
contract                     two_year  ...          one_year
paperlessbilling                   no  ...                no
paymentmethod            mailed_check  ...  electronic_check
monthlycharges                   19.7  ...              70.4
totalcharges                   258.35  ...           2044.75
churn                               0  ...                 0

[21 rows x 5 columns]

### Target variable exploration

In [33]:
df_full_train.churn.value_counts()

churn
0    4113
1    1521
Name: count, dtype: int64

In [34]:
# as a percentage
df_full_train.churn.value_counts(normalize=True)

churn
0    0.730032
1    0.269968
Name: proportion, dtype: float64

In [35]:
df_full_train.churn.mean()

np.float64(0.26996805111821087)

Because the target varaiable is binary (0 or 1) the mean is the same as the churn rate as it counts the number of ones in the series.

### Categorical Features

In [38]:
df_full_train.dtypes

customerid           object
gender               object
seniorcitizen         int64
partner              object
dependents           object
tenure                int64
phoneservice         object
multiplelines        object
internetservice      object
onlinesecurity       object
onlinebackup         object
deviceprotection     object
techsupport          object
streamingtv          object
streamingmovies      object
contract             object
paperlessbilling     object
paymentmethod        object
monthlycharges      float64
totalcharges        float64
churn                 int64
dtype: object

In [41]:
categorical_columns = [
 'gender',
 'seniorcitizen',
 'partner',
 'dependents',
 'phoneservice',
 'multiplelines',
 'internetservice',
 'onlinesecurity',
 'onlinebackup',
 'deviceprotection',
 'techsupport',
 'streamingtv',
 'streamingmovies',
 'contract',
 'paperlessbilling',
 'paymentmethod',
]

In [43]:
df_full_train[categorical_columns].nunique()

gender              2
seniorcitizen       2
partner             2
dependents          2
phoneservice        2
multiplelines       3
internetservice     3
onlinesecurity      3
onlinebackup        3
deviceprotection    3
techsupport         3
streamingtv         3
streamingmovies     3
contract            3
paperlessbilling    2
paymentmethod       4
dtype: int64

### Numerical Features

In [37]:
df_full_train.dtypes

customerid           object
gender               object
seniorcitizen         int64
partner              object
dependents           object
tenure                int64
phoneservice         object
multiplelines        object
internetservice      object
onlinesecurity       object
onlinebackup         object
deviceprotection     object
techsupport          object
streamingtv          object
streamingmovies      object
contract             object
paperlessbilling     object
paymentmethod        object
monthlycharges      float64
totalcharges        float64
churn                 int64
dtype: object

In [42]:
numerical_cols = ['tenure', 'monthlycharges', 'totalcharges']

## 3.5 Feature Importance: Churn Rate and risk ratio

In this specific part of EDA we will explore which features have the most impact on our target variable.